* {box-sizing: border-box;}

@font-face {
  font-family: 'pokemon_gbregular';
  src: url('fonts/pokemon_gb-webfont.woff2') format('woff2'),
       url('fonts/pokemon_gb-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html{
  font-size: 100%; /* ~16px */
}

body {
  font-family: 'pokemon_gbregular';
  font-size: 1rem;
  text-transform: uppercase;
  overflow: auto;
}

header {
	overflow: auto;
	text-align: center;
	margin: 0 0.5rem;
}

/* This is the background region map for the website */
.background-image {
	background-image: url('images/kantoregion.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;

	-webkit-filter: opacity(0.4);
	-moz-filter: opacity(0.4);
	-o-filter: opacity(0.4);
	-ms-filter: opacity(0.4);
	filter: opacity(0.4);

	position: fixed;
	z-index: -1;
}

.content {
  z-index: 1;
  margin: 0 auto;
}

.pokeTextBox {
	background: white;
	border: 1px solid white;
	box-shadow: 0 1px 0 1px black,
				inset 0 1px 0 1px black,
				0 0 0 1px black,
				inset 0 0 0 1px black;
}

/* Header styling */
.pokeLogo {
	width: 100% /* put at 495px for desktop */;
	margin: 2rem auto;
	display: block;
	position: relative;
}

.infoBox {
	border-radius: 0.125rem;
	padding: 0.5rem;
	width: 100%;
	height: auto;
	line-height: 1.5rem;
	margin: 0 auto;
	margin-bottom: 1.25rem;
	
	text-align: center;
	cursor: default;
}

/* Form styling */

.inputForm {
	margin: 0.5rem;
}

#pokeInfo {
	height: auto;
	width: auto;
	margin-top: 1rem;
	text-align: center;
	overflow: auto;
}

input[type=text], input[type=date] {
	font-size: 1rem;
	font-family: 'pokemon_gbregular';
	text-transform: uppercase;

	border-radius: 0.125rem;
	padding: 0.5rem;
	width: 100% /* on desktop 18.75rem */;
	max-width: 18.75rem;
	height: 3.125rem;
	line-height: 1rem;
	margin: 0.3125rem auto;
}

input[type=date] {
  	margin: 1.25rem auto;
}

.submit, .question {
  font-size: 1rem;
  font-family: 'pokemon_gbregular';
	text-transform: uppercase;

  border-radius: 0.125rem;
  padding: 0.5rem;
  width: auto;
  height: 3.125rem;
  line-height: 1rem;
  margin: 0.3125rem auto;
}

.submit { 
	cursor: pointer;
	line-height: 1.2rem;
	text-align: right;
	height: auto;
	width: 100%;
	max-width: 22rem;
	min-height: 3.125rem;

	background-image: url('images/arrow.png');
	background-repeat: no-repeat;
	background-position: 2% 50%;
	background-size: 0.625rem /*10px*/;
}

/* .arrow {
  height: 0.75rem;
  padding-right: 0.625rem;
	display: inline-block;
	position: absolute;
  float: left;

  animation: FIXLATER 3000ms linear both;
	animation-iteration-count: infinite;
}


/* Pokemon Sprite buttons at the bottom of the page */
.buttons {
  width: 18.75rem;
  height: 100%;
  margin: 2rem auto;
  overflow: auto;
}

.pokebuttons {
  float: left;
  width: 100%;
}

.pokeicon {
  margin: 0.625rem;
  float: left;
}

.pokeicon:hover {
	cursor: pointer;
	animation: jump 1000ms linear both;
	animation-iteration-count: infinite;
}

@keyframes jump {
	0.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	3.33% { transform: matrix3d(1.074, 0, 0, 0, 0, 1.074, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	6.67% { transform: matrix3d(1.088, 0, 0, 0, 0, 1.088, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	10.00% { transform: matrix3d(1.076, 0, 0, 0, 0, 1.076, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	13.33% { transform: matrix3d(1.055, 0, 0, 0, 0, 1.055, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	16.67% { transform: matrix3d(1.033, 0, 0, 0, 0, 1.033, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	20.00% { transform: matrix3d(1.015, 0, 0, 0, 0, 1.015, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	23.33% { transform: matrix3d(1.004, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	26.67% { transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	30.00% { transform: matrix3d(0.995, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	33.33% { transform: matrix3d(0.995, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	36.67% { transform: matrix3d(0.997, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	40.00% { transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	43.33% { transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	46.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	50.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	53.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	56.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	60.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	63.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	66.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	70.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	73.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	76.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	80.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	83.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	86.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	90.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	93.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	96.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	100.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}


/* Pokedex styling for the zodiac reading */

.row::after {
    content: "";
    clear: both;
    display: table;
    overflow: auto;
}

[class*="col-"] {
    float: left;
}

.col-1 {width: 25%;}
.col-2 {width: 50%;}
.col-3 {width: 75%;}
.col-4 {width: 100%;}



@media screen and (max-width: 23.375rem /*374px*/) {
	[class*="col-"] {
		width: 100%;
	}

	.pokePic {
		width: 150px;
	}
}

@media screen and (min-width: 751px) {
	.dexEntry {
		width: 750px !important;
	}
}

.dexEntry {
	font-size: 1rem;
  	font-family: 'pokemon_gbregular';
	text-transform: none;

	display: none;
	
	/* padding: 1.5rem; */
	margin: 0.3125rem auto;
	width: 98%;
	max-width: 25rem /*375px*/;
	
	background-color: rgba(255,255,255,1.00);
	border: 9px solid rgba(76,76,76,1.00);
	box-shadow:  inset 4px 4px 0px rgba(0,0,0,1.00), inset -4px -4px 0px rgba(0,0,0,1.00);
	border-radius: 3px;
	
	overflow: auto;
}

.dexEntry.showZodiac { 
	display: block;
	
	animation: openIn 2000ms linear both;
}

@keyframes openIn {
	0.00% { transform: matrix3d(1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	1.67% { transform: matrix3d(1, 0, 0, 0, 0, 0.186, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	3.33% { transform: matrix3d(1, 0, 0, 0, 0, 0.345, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	5.00% { transform: matrix3d(1, 0, 0, 0, 0, 0.483, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	6.67% { transform: matrix3d(1, 0, 0, 0, 0, 0.593, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	8.33% { transform: matrix3d(1, 0, 0, 0, 0, 0.684, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	10.00% { transform: matrix3d(1, 0, 0, 0, 0, 0.761, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	11.67% { transform: matrix3d(1, 0, 0, 0, 0, 0.82, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	13.33% { transform: matrix3d(1, 0, 0, 0, 0, 0.867, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	15.00% { transform: matrix3d(1, 0, 0, 0, 0, 0.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	16.67% { transform: matrix3d(1, 0, 0, 0, 0, 0.934, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	18.33% { transform: matrix3d(1, 0, 0, 0, 0, 0.956, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	20.00% { transform: matrix3d(1, 0, 0, 0, 0, 0.973, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	21.67% { transform: matrix3d(1, 0, 0, 0, 0, 0.985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	23.33% { transform: matrix3d(1, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	25.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	26.67% { transform: matrix3d(1, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	28.33% { transform: matrix3d(1, 0, 0, 0, 0, 0.993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	30.00% { transform: matrix3d(1, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	31.67% { transform: matrix3d(1, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	33.33% { transform: matrix3d(1, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	35.00% { transform: matrix3d(1, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	36.67% { transform: matrix3d(1, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	38.33% { transform: matrix3d(1, 0, 0, 0, 0, 0.993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	40.00% { transform: matrix3d(1, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	41.67% { transform: matrix3d(1, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	43.33% { transform: matrix3d(1, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	45.00% { transform: matrix3d(1, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	46.67% { transform: matrix3d(1, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	48.33% { transform: matrix3d(1, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	50.00% { transform: matrix3d(1, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	51.67% { transform: matrix3d(1, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	53.33% { transform: matrix3d(1, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	55.00% { transform: matrix3d(1, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	56.67% { transform: matrix3d(1, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	58.33% { transform: matrix3d(1, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	60.00% { transform: matrix3d(1, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	61.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	63.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	65.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	66.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	68.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	70.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	71.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	73.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	75.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	76.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	78.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	80.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	81.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	83.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	85.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	86.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	88.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	90.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	91.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	93.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	95.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	96.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	98.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	100.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

.dexPic {
	text-align: center;
}

.pokePic {
	width: 7.8125rem /*125px*/;
}

.dexPic > p {
	margin: 0;
}

.dexPic, .dexDesc {
	margin-top: 1.5rem;
}

.dexDesc {
	margin: 1rem auto;
	line-height: 1.75rem;
}

.dexLine {
	width: 100%;
	height: 0;

	margin-top: 1rem;

	border: 3px solid black;
}

.dexReading {
	font-size: 0.875rem;
	line-height: 1.5rem;
	margin: 1rem 1.5rem 1.5rem 1.5rem;
}

.inputForm.showZodiac {
	display: none;
}

.closeDex {
	font-size: 1rem;
  	font-family: 'pokemon_gbregular';
	text-transform: uppercase;

	padding: 0.5rem;
	width: auto;
	margin: 1rem 0 1.5rem 1.5rem;
}


/* Make it look good on other screens */

@media screen and (max-width: 19.9375rem /*319px*/) {
	.buttons {
		width: 12.5rem /*200px*/;
	}
}

@media screen and (min-width: 23.5rem /*376px*/) {

	.pokeLogo {
		max-width: 31rem;
		margin: 2rem auto;
	}

	#pokeInfo {
		max-width: 31.25rem /*500px*/;
		width: 100%;
		margin: 0 auto;
	}

	input[type=text], input[type=date] {
		width: 18.75rem;
		margin: 0.3125rem auto;
	}

	input[type=date] {
		margin: 1.25rem auto;
	}

	.submit {
		max-width: 22rem;
		width: 100%;
	}

}

@media screen and (min-width: 37.5rem /*600px*/) {
	.buttons {
		width: 37.5rem;
	}

	.infoBox {
		max-width: 45rem;
	}
}

@media screen and (min-width: 45.0625rem /*721px*/) {
	.infoBox {
		width: 45rem;
	}

	.inputForm {
		margin: 0 auto;
	}
}